.banner{
	margin: 0 auto;
	margin-bottom: 0px;
	height:250px;
	width: 950px;
	text-align: center;
}
.banner_img{
	text-align:center;
	margin-top: 0px;
	margin: 0 auto;
	max-width: 950px;
	position: relaitve;
	text-align: center;
}